ion-card {
  --background: #FFFFFF;
  --color: #060527;
  border-radius: 17px;
}

ion-card-title {
  --color: #060527;
}

ion-button {
  --color: #060527;
}

ion-content.background{
  --ion-background-color:#F8F8F8;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-right{
  display: flex;
  justify-content: right;
}

.floating-button {
  position: fixed;
  bottom: 200px;
  right: 20px;
}

.floating-button-emergency {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}


.custom-button {
  --background: #060527;
  --color: white;
}

.poppins-text-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.color-text{
  color:#060527;
}
.poppins-text-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.circle-image {
  width: 75px; /* Lebar */
  height: 75px; /* samain */
  border-radius: 50%; /* biar bulat*/
  object-fit: cover; /* biar proporsional */
  // border: 2px solid #000; /* border doang */
}